


<ul class="breadcrumb">
  <li>
    <%=link_to "Teams", teams_path()%> <span class="divider">></span>
  </li>    
  <li>
    <%=link_to @team, team_path(@team)%> <span class="divider">></span>
  </li>
  <li class="active">
    <%=@season%> <span class="divider">></span>
  </li>  
</ul>

<h3>Team <%=@team%> Season <%=@season%></h3>

<h5>Games</h5>

<table>
<% @games.each do |game| %>
<% if game.key[4] == 0
     gamename = game.key[0] + " " + game.key[1] + "-" + game.key[2] + "-" + game.key[3]
   else
     gamename = game.key[0] + " " + game.key[1] + "-" + game.key[2] + "-" + game.key[3] + "-" + String(game.key[4])
   end
%>
  
  <tr>
    <td align="center"><%= link_to gamename, game_path(game.id[5..-1]) %></td>
  </tr>
<% end %>

</table>